body{
    background-image: url(Beautiful\ City.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

h1{
    background: linear-gradient(to right, skyblue, white)
    
}

h1{
    color: rgb(81, 12, 81)
}

h3{
    color: rgba(253, 251, 255, 0.945);
}

h1{
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: gold;
}

h3{
    text-shadow: 5px 5px 20px rgba(6, 60, 105, 0.993);
}

button{
    background-color: rgb(12, 84, 60);

}

#p1{
    border-radius: 5px;
    border-width: 8px;
    border-right: 5px;
    border-style:outset;
    background-color: rgb(22, 109, 80);
    color: #fefefe;
    padding: 5px;
}

#p2{
    border-radius: 5px;
    border-width: 8px;
    border-right: 5px;
    border-style:outset;
    background-color: rgb(22, 109, 80);
    color: #fefefe;
    padding: 5px;
}